#product {
  border: solid 1px black;
  position: fixed;
  width: 80%;
  right: 0;
  /* top: 0; */
  height: 77.1%;
}

#page {
  border: solid 1px #979797;
  background-color: #D8D8D8;
  width: 80%;
  height: 60%;
  margin: auto;
  display: grid;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagebox {
  border: solid 1px #979797;
}

.textbox {
  border: solid 1px #979797;
}

textarea {
  background: transparent;
  resize: none;
  outline: none;
  font: 32px arial, sans-serif;
  width: 100%;
  height: 100%;
  border: 0 none;
}