.product-view-design {
  border: solid 1px black;
  height: calc(100% - 200px);
}

/* keeps the container in the same ratio */
.product-view-design-container-wrapper {
  width: 100%;
  margin: auto;
}

.product-view-design-container {
  padding: 40px;
  background: #3E3E3E;
  width: 1242px; /* 840 * 2 - 9 - 9 = 1662px or 630 * 2 - 9 - 9 = 1242px */
}

.spread {
  display: table;
  width: 100%;
}

.spread:after {
  clear: both;
}

.bleed {
  border: solid 1px red;
  float: left;
  padding: 8px;
  margin: -9px;
  width: 612px; /* 840 - 9 - 9 = 822px or 630 - 9 - 9 = 612px */
  height: 396px; /* 552 - 9 - 9 = 534px or 414 - 9 - 9 = 396px */
}

.bleed-right {
  margin-left: 9px;
}

.page {
  background-color: #FFFFFF;
  display: grid;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none;
  border: 0 none;
}

.imageFrame {
  background: #11ADEC;
  border: 0 none;
  outline: none;
}

.textFrame {
  line-height: 11pt;
  font-size: 8pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300; /* light */
  background: #DEDFE0;
  
  display: table-cell;  
  text-align: center;
  vertical-align: bottom;

  outline: none;
  border: 0 none;
  overflow: hidden;
  word-wrap: break-word;
}