.product-view-design {
  border: solid 1px black;
  height: calc(100% - 200px);
}

.product-view-design-container-wrapper {
  width: 80%;
  margin: auto;
}

.product-view-design-container {
  padding: 40px;
  background: #3E3E3E;
}


.page {
  background-color: #FFFFFF;
  margin: auto;
  display: grid;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none;
  border: 0 none; 
}

.imagebox {
  /* border: solid 1px #979797; */
  background: #11ADEC;
  border: 0 none; 
}

.textbox {
  /* border: solid 1px #979797; */
  background: #DEDFE0;
  border: 0 none; 
}

textarea {
  background: transparent;
  resize: none;
  outline: none;
  font: 32px arial, sans-serif;
  width: 100%;
  height: 100%;
  border: 0 none;
}